.favorites-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100vw;
  grid-template-areas: "error error";
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: error;
  margin-top: 2em;
}

.favorites-error  {
}

.error-image {
  max-height: 25em;
  max-width: 25em;
}

.favorite-card {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  margin-bottom: 5em;
}

.favorite-image {
  width: 500px;
  height: 500px;
  object-fit: contain;
  margin: 0;
  border: solid #bf953f 7px;
  border-style: outset;
  padding: 1em;
}

.favorite-title {
  text-align: center;
}
